/* -------Styling footer section-------- */


.footer-section{
  background: linear-gradient(135deg, #15113a, #0f0c29, #15113a);
  margin-bottom: -20px;
}

.footer-icons{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  
}

.footer-icons i{
  margin-left: 20px;
  margin-top: 30px;
  color: #fff;
}

.footer-icons i:hover{
  color: #5e5d5d;
}

.footer-info{
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.footer-info p{
  padding-bottom: 20px;
}